h1.page-title {
    text-align: left;
    font-family: 'Baloo 2', cursive;
    font-weight: 400;

    padding: 0;
    text-align: left;
    font-size: 1.25em;
    // border-radius: 2em;
    // overflow: hidden;
    display: flex;
    align-items: center;
    margin: 1.5rem 0;

    line-height: 1em;

    gap: 1.5rem;
    & > * {
        height: 3.5rem;
        display: flex;
        align-items: center;

        border-radius: 1.75rem;
        overflow: hidden;
    }

    span {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        flex: 1;

        // background-color: colors.$secondaryContainer;
        // color: colors.$onSecondaryContainer;

        color: colors.$onPrimary;
        background-color: colors.$primary;

        font-size: 1.2em;
    }

    .icon {
        // background-color: colors.$primary;
        // color: colors.$onPrimary;
        background-color: colors.$secondaryContainer;
        color: colors.$onSecondaryContainer;

        height: 3em;
        width: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9em;
    }

    .icon.icon-primary {
        background-color: colors.$primary;
        color: colors.$onPrimary;
    }

    button.icon {
        cursor: pointer;
    }

    @media (max-width: 500px) {
        gap: 0;

        border-radius: 1.75em;
        overflow: hidden;
        flex-shrink: 0;
        & > * {
            border-radius: 0;
            height: 100%;
        }

        .icon:last-child {
            padding-right: 0.25em;
        }

        .icon:first-child {
            padding-left: 0.25em;
        }

        .icon.sneakyOnPhone {
            background-color: colors.$primary;
            color: colors.$onPrimary;
        }
    }
}
