@import '../../../../../styles/colors.scss';

.notam-card {
    padding: 0.5em 1em;
    padding-right: 0;
    margin: 0.5em 0;

    border-left: solid 2px $primary;

    .notam-card-container-heading {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        .notam-card-content {
            flex: 1;

            .notam-card-infos {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 0.5em;

                .notam-card-validity {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 0.7rem;
                    overflow: hidden;
                    border-radius: 0.3em;

                    .notam-validity-prefix {
                        font-size: 0.6rem;

                        padding: 0.25em 0.5em;
                        border-radius: 0.3em;

                        color: $onPrimary;
                        background-color: $primary;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .svg-inline--fa {
                            margin-right: 0.5em;
                        }
                    }
                    .notam-validity-content {
                        font-weight: 900;

                        flex: 2;

                        color: $grey;

                        padding: 0.25em 0.5em;

                        .svg-inline--fa {
                            color: $primary;

                            font-size: 0.8rem;
                            margin: 0 0.5em;
                        }
                    }
                }

                .notam-card-heigths {
                    font-size: 0.7em;
                    font-weight: bold;
                    display: flex;
                    flex-direction: row;
                    gap: 1em;
                    flex: 1;
                    justify-content: flex-end;

                    span {
                        color: $onBackground;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                        text-align: center;
                        gap: 0.5em;
                    }
                    .svg-inline--fa {
                        color: $primary;

                        font-size: 0.8rem;
                    }
                }
            }
        }

        .notam-card-action {
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            button {
                color: $primary;
                padding: 0.3em 0.5em;
                min-width: auto;
                transition: transform linear 0.15s;
            }
        }
    }

    .notam-card-container-unroll {
        height: 0;
        overflow: hidden;
    }

    .notam-card-fieldD {
        display: flex;
        font-size: 0.7rem;
        flex-direction: row;
        align-items: center;

        margin-bottom: 0.5em;

        button {
            border: none;
            margin: 0;
            padding: 0;
            width: auto;
            overflow: visible;

            background: transparent;

            /* inherit font & color from ancestor */
            color: inherit;
            font: inherit;

            /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
            line-height: normal;

            /* Corrects font smoothing for webkit */
            -webkit-font-smoothing: inherit;
            -moz-osx-font-smoothing: inherit;

            /* Corrects inability to style clickable `input` types in iOS */
            -webkit-appearance: none;
        }

        .fieldD-UTC-badge {
            font-size: 0.6rem;

            background-color: $primary;
            color: $onPrimary;
            margin-right: 0.5em;
            padding: 0.25em 0.5em;
            border-radius: 0.3em;

            text-align: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0 0.5em;
            align-items: center;
            justify-content: center;
        }
    }

    .notam-card-fieldE {
        font-size: 0.9em;

        pre {
            max-width: 100%;
            margin: 0;
            text-wrap: pretty;
        }

        // max-height: 7em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.notam-card.notam-card__open {
    .notam-card-action {
        button {
            transform: rotate(180deg);
        }
    }
    .notam-card-container-unroll {
        height: fit-content;
    }

    .notam-card-fieldE {
        max-height: max-content;
    }
}
