@import 'styles/colors.scss';

.train-tab-page {
    height: 100%;
}

.next-train {
    text-align: center;
    color: $lava-red;
    font-weight: 600;
    margin-top: 1em;
}

.train-of-day {
    text-align: center;
    margin: 1em 0;

    .train-header {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: stretch;
        flex-wrap: wrap;
        margin-bottom: 1em;
    }

    h2 {
        flex: 1;
        white-space: nowrap;
        margin-bottom: 0;
        margin-top: 0;
        flex-grow: 9999;
    }

    button {
        flex-grow: 2;

        cursor: pointer;
        border-radius: 0.5em;
        border: none;
        padding: 0.5em 1em;
    }

    button.missed-on {
        color: $onSecondaryContainer;
        background-color: $secondaryContainer;
    }
    button.missed-off {
        color: $onPrimary;
        background-color: $primary;
    }

    ul {
        padding: 0;
        width: 50%;
        margin: auto;
        // border-radius: 1.5em;
        overflow: hidden;
        // border: solid 1px $dark;
        li {
            list-style-type: none;
            display: block;
            font-weight: 700;
            // color: $lava-red;
            background-color: $primary;
            color: $onPrimary;

            &.missed {
                color: $onSecondaryContainer;
                background-color: $secondaryContainer;
            }

            padding: 0.4em 0;
            border-bottom: solid 1px $onPrimary;
            margin-bottom: 0.5em;
            border-radius: 1em;
        }
    }
}
