.mesures-tab-page {
    text-align: center;
    img {
        width: 100%;
        height: auto;
    }

    iframe {
        max-width: 100%;
        flex-shrink: 0;
    }

    :global(#ifram-meta-jdv) {
        border: none;
        max-width: unset;
        height: 1160px;
        width: 100%;

        min-width: 446px;
    }

    :global(.jdv-container) {
        max-width: 100%;
        width: 100%;
        overflow: auto;
        height: fit-content;
        flex-shrink: 0;

        // display: flex;
        // align-items: center;
        // flex-direction: column;
    }

    @media (min-width: 1000px) {
        :global(#ifram-meta-jdv) {
            height: 650px;
        }
    }

    @media (max-width: 500px) {
        :global(#ifram-meta-jdv) {
            margin-left: -0.5em;
            margin-right: -1em;
        }
    }
    // Unzoom iframe to fix iframe display on very small devices
    // @media (max-width: 500px) {
    //     :global(#ifram-meta-jdv) {
    //         // min-width: 500px;
    //         max-width: unset;
    //         height: 1160px;
    //         transform: scale(0.85, 0.85);
    //         width: 446px;
    //         transform-origin: 0 0;
    //         align-self: center;
    //         margin-left: 10%;
    //         margin-right: 0;
    //         margin-bottom: -10em;
    //     }
    // }

    .opgc-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            display: contents;
        }
        img {
            max-width: 400px;
        }
    }
}
