@import '../../styles/colors.scss';

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(0deg);
    }
    65% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-15deg);
    }
    85% {
        transform: rotate(10deg);
    }
    95% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.supportHeaderLink {
    background-color: #ffcb1e !important;
    color: $onPrimary !important;

    svg {
        animation: wiggle 1s infinite;
    }
}
