$green-dark: #7aa95c;
$green-light: #e2e9c0;
$nuance: #955149;
$lava-red: #a7001e;
$dark: #1e0f1c;
$grey: #605b5f;

$material-dark-grey: #1f1f1f;
$material-color-surface-1: #f8fafd;
$material-color-surface-2: #f3f6fc;
$material-color-surface-3: #eff3fa;
$material-color-surface-4: #edf2fa;
$material-color-surface-5: #eaf0f9;

$gold: #ffcb1e;

$primary: #ba1829;
$onPrimary: #ffffff;
$background: #fffbff;
$onBackground: #201a1a;
$primaryContainer: #ffdad8;
$onPrimaryContainer: #410006;
$secondaryContainer: #ffdad8;
$onSecondaryContainer: #2c1514;

// :export {
//     greenDark: $green-dark;
//     greenLight: $green-light;
//     nuance: $nuance;
//     lavaRed: $lava-red;
//     dark: $dark;
//     grey: $grey;
//     materialDarkGrey: $material-dark-grey;
//     materialColorSurface1: $material-color-surface-1;
//     materialColorSurface2: $material-color-surface-2;
//     materialColorSurface3: $material-color-surface-3;
//     materialColorSurface4: $material-color-surface-4;
//     materialColorSurface5: $material-color-surface-5;
//     gold: $gold;
//     primary: $primary;
//     onPrimary: $onPrimary;
//     background: $background;
//     onBackground: $onBackground;
//     primaryContainer: $primaryContainer;
//     onPrimaryContainer: $onPrimaryContainer;
//     secondaryContainer: $secondaryContainer;
//     onSecondaryContainer: $onSecondaryContainer;
// }
