@import './colors.scss';

html,
body,
#__next {
    padding: 0;
    margin: 0;
    font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;

    // min-width: 600px;
    height: 100%;
    background-color: #fffbff;
    color: #201a1a;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.root-container {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    @media (max-width: 700px) {
        flex-direction: column;
        align-items: stretch;
    }

    // background-color: greenyellow;
}

.webcam-tab-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    padding: 0 1em;

    .webcam {
        width: 100%;
        height: auto;
        margin-bottom: 1em;

        border-radius: 1em;
        overflow: auto;
    }
}

.mobile-app {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-width: 100%;

    flex: 1;

    .meteo-blue {
        max-width: 100%;
        max-height: 100%;
        height: 100%;

        img {
            height: 100%;
        }
    }

    .meteo-blue-multimodel {
        min-width: 100%;
        img {
            width: 100%;
        }
    }

    h1.page-title {
        text-align: left;
        font-family: 'Baloo 2', cursive;
        font-weight: 400;

        padding: 0;
        text-align: left;
        font-size: 1.25em;
        // border-radius: 2em;
        // overflow: hidden;
        display: flex;
        align-items: center;
        margin: 1.5rem 0;

        & > * {
            height: 3.5rem;
            display: flex;
            align-items: center;

            border-radius: 1.75rem;
            overflow: hidden;
        }

        span {
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            flex: 1;
            // background-color: $secondaryContainer;
            background-color: $secondaryContainer;
            color: $onSecondaryContainer;
            // color: $onBackground;
            font-size: 1.2em;

            margin-left: 1.5rem;
        }

        .icon {
            height: 3em;
            width: 3em;
            background-color: $primary;
            color: $onPrimary;
            // padding-left: 1.25rem;
            // padding-right: 1rem;
            display: flex;
            justify-content: center;
            font-size: 0.9em;
        }
    }

    // .page-block {
    //     background-color: #ffdad8;
    //     padding: 1.5em;
    //     border-radius: 1em;
    // }
    h2 {
        color: $onBackground;
        font-family: 'Baloo 2', cursive;
        font-size: 1.5em;
        margin-top: 0.5rem;
        text-align: left;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    .pageContent {
        flex: 1;
        overflow: auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .mobile-content {
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;

        div[role='tabpanel']:not([hidden]) {
            height: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: initial;
        }
    }

    // #mobile-tab-3,
    // #mobile-tab-3 > .MuiBox-root {
    //     padding: 0;
    // }

    .webcam-container {
        padding: 0;
        display: block;
    }

    .mesures-tab-page {
        text-align: center;
    }

    .link-element {
        background-color: $secondaryContainer;
        color: $onSecondaryContainer;
        padding: 1em;
        display: flex;
        align-items: center;

        border-radius: 1em;
        margin-bottom: 1em;

        img {
            width: 3em;
            height: 3em;
        }

        h3 {
            margin: 0 1em;
            flex: 1;
            text-align: left;
        }
        svg {
            margin-right: 1em;
        }
    }
}

.forecast-tab-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    iframe {
        width: 100%;
        height: 100%;
    }

    &:not(.forecast-more) .pageContent {
        padding: 0;
    }

    .forecast-subtab {
        overflow: auto;
    }
}

.forecast-tab-page .forecast-morelinks {
    // padding: 0 2em;
    overflow: auto;
}

.mesures-tab-page {
    align-items: safe center;
    img {
        width: 100%;
        height: auto;
    }

    iframe {
        max-width: 100%;
        flex-shrink: 0;
    }

    .opgc-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            display: contents;
        }
        img {
            max-width: 400px;
        }
    }
}

.train-tab-page {
    height: 100%;
}

.next-train {
    text-align: center;
    color: $lava-red;
    font-weight: 600;
    margin-top: 1em;
}

.train-of-day {
    text-align: center;
    margin: 1em 0;

    h2 {
        position: relative;
    }

    button {
        margin-bottom: 1em;
        cursor: pointer;
        border-radius: 0.5em;
        position: absolute;
        right: 1em;
        top: calc(50% - 1.1em);
        border: none;
        padding: 0.5em 1em;
    }

    button.missed-on {
        color: $onSecondaryContainer;
        background-color: $secondaryContainer;
    }
    button.missed-off {
        color: $onPrimary;
        background-color: $primary;
    }

    ul {
        padding: 0;
        width: 50%;
        margin: auto;
        // border-radius: 1.5em;
        overflow: hidden;
        // border: solid 1px $dark;
        li {
            list-style-type: none;
            display: block;
            font-weight: 700;
            // color: $lava-red;
            background-color: $primary;
            color: $onPrimary;

            &.missed {
                color: $onSecondaryContainer;
                background-color: $secondaryContainer;
            }

            padding: 0.4em 0;
            border-bottom: solid 1px $onPrimary;
            margin-bottom: 0.5em;
            border-radius: 1em;
        }
    }
}

.trainHourlySchedule {
    overflow-y: auto;
    // overflow-x: visible;
    max-width: 100%;
    flex: 1;
}

.raw-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    color: inherit;
    line-height: unset;
}
