html,
body,
#__next {
    padding: 0;
    margin: 0;
    font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;

    height: 100%;
    background-color: #fffbff;
    color: #201a1a;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.root-container {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    @media (max-width: 700px) {
        flex-direction: column;
        align-items: stretch;
    }

    // background-color: greenyellow;
}

.mobile-app {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-width: 100%;

    flex: 1;

    .text-alert {
        background-color: colors.$primaryContainer;
        margin: 2em 0em;
        border-radius: 1em;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        flex-shrink: 0;
        .warn {
            background-color: colors.$primary;
            color: white;
            padding: 0 1em;
            font-size: 1.5em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .text {
            flex: 1;
            padding: 1em 1em;
        }
    }

    @media (max-width: 500px) {
        .text-alert {
            flex-direction: column;
            align-items: stretch;
            .warn {
                text-align: center;
                padding: 0.75em 0;
            }
        }
    }

    h2 {
        color: colors.$onBackground;
        font-family: 'Baloo 2', cursive;
        font-size: 1.5em;
        margin-top: 0.5rem;
        text-align: left;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    .pageContent {
        flex: 1;
        overflow: auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        display: flex;
        flex-direction: column;
    }

    .mobile-content {
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }
}

.raw-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    color: inherit;
    line-height: unset;
    padding: 0;
}
